<%- include('./partials/head'); %>
<figure class="t-shirt">
    <h2 id="tekstTshirt"></h2>
    <svg xmlns="http://www.w3.org/2000/svg"
        width="360pt" 
        viewBox="0 0 511.882 511.882">
        <polygon id="changeColor"   
        fill="<%= formData.shirtColor %>" 
        stroke="black"
        points="362.587,42.65 149.301,42.65 0,127.959 42.662,245.268 106.647,223.937 106.647,469.232 
    405.25,469.232 405.25,223.937 469.236,245.268 511.882,127.959 " >
    <g
        transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)"
    >
    <path d="M255.948,117.297c41.233,0,74.647-33.422,74.647-74.647H181.294
    C181.294,83.875,214.716,117.297,255.948,117.297z" />
    </g>
    </svg>
    </figure>
    <form method="POST" action="/winkelmand">
        <h3>Maak je eigen Nerdy t-shirt!</h3>
        <h4>Kleur</h4>
        <fieldset id="kleur">
            <input type="radio" id="color-zwart" name="shirtColor" value="black" required checked <% if (formData.shirtColor === 'black') {%> <%='checked' %> <%}%> />
            <label for="color-zwart">Zwart</label>
            <input type="radio" id="color-wit" name="shirtColor" value="white" required <% if (formData.shirtColor === 'white') {%> <%='checked' %> <%}%>/>
            <label for="color-wit">Wit</label>
            <input type="radio" id="color-blauw" name="shirtColor" value="blue" required <% if (formData.shirtColor === 'blue') {%> <%='checked' %> <%}%>/>
            <label for="color-blauw">Blauw</label>
            <input type="radio" id="color-geel" name="shirtColor" value="yellow" required <% if (formData.shirtColor === 'yellow') {%> <%='checked' %> <%}%>/>
            <label for="color-geel">Geel</label>
        </fieldset>
        <button id="buttonKleur" type="submit" name="kleur" value="verversen">Verander kleur</button>

        <h4>Maat</h4>
            <fieldset id="maat">
            <input type="radio" id="xs" name="shirtSize" value="xs" <% if (formData.shirtSize === 'xs') {%> <%='checked' %> <%}%> />    
            <label for="xs">XS</label>
            <input type="radio" id="s" name="shirtSize" value="s" <% if (formData.shirtSize === 's') {%> <%='checked' %> <%}%> />
            <label for="s">S</label>
            <input type="radio" id="m" name="shirtSize" value="m" <% if (formData.shirtSize === 'm') {%> <%='checked' %> <%}%> />
            <label for="m">M</label>
            <input type="radio" id="l" name="shirtSize" value="l" <% if (formData.shirtSize === 'l') {%> <%='checked' %> <%}%> />
            <label for="l">L</label>
            <input type="radio" id="xl" name="shirtSize" value="xl" <% if (formData.shirtSize === 'xl') {%> <%='checked' %> <%}%> />
            <label for="xl">XL</label>
        </fieldset>
        
        <h4>Geslacht</h4>
        <fieldset id="geslacht">
            <input type="radio" id="man" name="gender" value="man" <% if (formData.gender === 'man') {%> <%='checked' %> <%}%> />
            <label for="man">Man</label>
            <input type="radio" id="woman" name="gender" value="woman" <% if (formData.gender === 'woman') {%> <%='checked' %> <%}%> />
            <label for="woman">Vrouw</label>
        </fieldset> 

        <h4>Vul hieronder tekst voor op je shirt</h4>
        <fieldset class="text-fieldset">
          <input
            type="text"
            id="userText"
            name="userText"
            maxlength="6"
            placeholder="Maximaal 6 karakters" />
        </fieldset>
        
        <h4>Bestelling toevoegen aan je winkelmand</h4>
        <button type="submit" name="verstuur">Toevoegen</button>
    </form>