<%- include('./partials/head'); %>
<body>
    <body>
        <section class="shoppinglist">
          <h1>Winkelmand</h1>
    
          <% data.data.forEach((key) => { %>
          <article class="winkelmand-container">
            <svg xmlns="http://www.w3.org/2000/svg"
            width="360pt" 
            viewBox="0 0 511.882 511.882">
           <polygon id="changeColor"
           fill="<%= key.shirtColor %>"    
           stroke="black"
           points="362.587,42.65 149.301,42.65 0,127.959 42.662,245.268 106.647,223.937 106.647,469.232 
       405.25,469.232 405.25,223.937 469.236,245.268 511.882,127.959 " >
       <g
           transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)"
       >
       <path d="M255.948,117.297c41.233,0,74.647-33.422,74.647-74.647H181.294
       C181.294,83.875,214.716,117.297,255.948,117.297z" />
       </g>
       </svg>
            </div>
            <div>
              <p><%= key.shirtColor %></p>
              <p><%= key.gender %></p>
              <p><%= key.shirtSize %></p>
              <p><%= key.userText %></p>
            </div>
          </article>
          <% }) %>
          
    <div class="order">
      <a href='/bestellen'>Bestellen</a>
    </div>
    </section>

